---
layout: base
---

<div class="intro-header"></div>

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  {% if page.before-content %}
    <div class="before-content">
      {% for file in page.before-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}

  {{ content }}

  {% if page.after-content %}
    <div class="after-content">
      {% for file in page.after-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}
</main>

<script
  data-who="💎 Made with naker.io 💎"
  src="https://d23jutsnau9x47.cloudfront.net/back/v1.0.9/viewer.js"
  data-option="{|environment|:{|gradient|:|radial|,|sensitivity|:0.42,|colorStart|:[232,211,244,1],|colorEnd|:[207,178,225,1]},|particle|:{|life|:5,|power|:0.051,|texture|:|https://res.cloudinary.com/naker-io/image/upload/v1566560053/star_05.png|,|number|:478,|colorStart|:[129,111,92,0.13],|colorEnd|:[155,107,198,0.52],|sizeStart|:1.57,|sizeEnd|:3.14,|direction1|:{|x|:0,|y|:0,|z|:100},|direction2|:{|x|:0,|y|:0,|z|:-100}}}"
></script>
